<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/favicon.png" type="image/png">
<title>%%sitename%%: 404 ошибка / страница не найдена</title>
<meta name="description" content="%%metadescription%%">
<meta name="keywords" content="%%metakeywords%%"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" href="/main.css">
<script src="/jquery.js"></script>
<script src="/main.js"></script>
</head><body>
<div class="top"><div class="actions"><a href="/new/">Создать страницу</a></div><h2 class="logo"><a href="/">WikiClick</a></h2></div>
<div class="leftbar"><center class="logo2">
<img src="/logo.png" style="
    margin-top: 64px;
">
</center>
<div class="links">
%%links%%
</div>
</div>
<div class="colorbar red">Раздел не найден</div>
<div class="page">
<h1>404 ошибка</h1>
<p><h3 style="color:#aaa;">Похоже, что Вы ошиблись адресом.</h3><h3 style="color:#aaa;">Того, что Вы искали здесь нету.</h3></p>
</div>
</body></html>
