<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/favicon.png" type="image/png">
<title>%%sitename%%: Создание страницы</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" href="/main.css">
<script src="/jquery.js"></script>
<script src="/jquery.form.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/main.js"></script>
</head><body>
<div class="top"><h2 class="logo"><a href="/">%%sitename%%</a></h2></div>
<div class="leftbar"><center class="logo2">
<img src="/logo.png" style="
    margin-top: 64px;
">
</center>
<div class="links">
%%links%%
</div>
</div>
<div class="colorbar">Создание новой страницы</div>
<div class="page"><div class="cords"></div><article style="padding-bottom:20px;"></article>
<form id="uploadone" method="post" action="/uploadone" enctype="multipart/form-data"><input type="file" accept="image/jpeg,image/png,image/gif" name="file"></form>
<form action='' method="POST" enctype="multipart/form-data">
<input type="hidden" id="pageid" value="%%id%%">
<input id="alias" name="alias" value="%%alias%%" class="iedit %%danger%%" placeholder="Название (алиас)" style="margin-bottom:20px;" autocomplete=off>
<input id="short" name="short" value="%%short%%"class="iedit" placeholder="Краткое описание проекта (до 255 символов)" style="margin-bottom:20px;" autocomplete=off>
<button class="upimg">img</button><textarea class="edit" name="article" autocomplete=off>%%article%%</textarea>
<select id="cat" name="cat" class="sedit" style="margin-top:18px">
%%selectoptions%%
</select>
<input id="tags" name="tags" value="%%tags%%" class="iedit" placeholder="Теги (через запятую)" style="margin-top:20px;" autocomplete=off>
<input type="file" id="preview" name="preview" style="margin-top:20px"><label for="preview" style="color:#96108b;"><strong>Выберите картинку для превью</strong></label>
<div class="allowed allowed1">Список разрешенных HTML-тегов и их атрибутов.
</div>
<div class="allowed allowed1 hidden">Список разрешенных HTML-тегов и их атрибутов.

%%allowed%%
</div>
<div class="allowed allowed2">Вы можете использовать интерактивные заголовки с выпадающим контентом.</div>
<div class="allowed allowed2 hidden">Вы можете использовать интерактивные заголовки с выпадающим контентом.

<code>&lt;a class="q"&gt;Интерактивный заголовок&lt;/a&gt;
&lt;div class="q"&gt;Выпадающий контент, крупный текст&lt;/div&gt;

&lt;h3&gt;&lt;a class="q"&gt;Интерактивный заголовок для навигатора&lt;/a&gt;&lt;/h3&gt;
&lt;div class="a"&gt;Выпадающий контент, обычный текст&lt;/div&gt;</code>

Интерактивные заголовки можно использовать для раздела с FAQ (пример 1).
Также это подойдет для того чтобы скрыть второстепенный конетент (пример 2).</div>
<div class="allowed allowed3">Вы можете вставлять код.</div>
<div class="allowed allowed3 hidden">Вы можете вставлять код.

<code>&lt;pre&gt;&lt;code class="laguage"&gt;код&lt;/code&gt;&lt;/pre&gt;
	или
&lt;pre&gt;&lt;code class="lang-laguage"&gt;код&lt;/code&gt;&lt;/pre&gt;</code>

Вместо language пишете язык, например, javascript.</div>
<input type="button" id="preview-btn" class="button btn-white" value="Предварительный просмотр" style="margin-right:20px;"><input type="submit" class="button" value="Сохранить страницу" style="margin-right:16px;"><iframe style="border:none;position:relative;top:16px;" width="84" height="50" src="/captcha/"></iframe><input type="text" name="captcha" class="iedit %%dangercaptcha%%" style="margin-left:8px;width:120px;display:inline-block;" autocomplete=off>
</form></div>
</body></html>
