<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" href="/main.css">
<script src="/jquery.js"></script>
<script src="/main.js"></script>
</head><body>
<div class="top"><div class="actions"><a href="/new/">Создать страницу</a></div><h2 class="logo"><a href="/">WikiClick</a></h2></div>
<div class="leftbar"><center class="logo2">
<img src="/logo.png" style="
    margin-top: 64px;
">
</center>
<div class="links">
%%links%%
</div>
</div>
<div class="colorbar">Здесь вы можете рассказать о своей разработке, например о сайте, мобильном приложении, сервисе или о другом программном проекте.</div>
<div class="page">
<article>
<h1>Свободный IT-обозреватель</h1>
<strong>WikiClick</strong> — это <strong>свободная веб-энциклопедия</strong> по сайтам, интернет-сервисам, приложениям, играм и любым другим разработкам, созданых программистами России, СНГ и других стран. Без цензуры и монополии на контент. Создание и редактирование страниц доступно каждому посетителю. Единственное условие публикации - соответствие тематике сайта.<br>
<strong style="background: #a2fbcf;font-size: 20px;margin: 16px 0;display: inline-block;">WikiClick приглашает авторов и соавторов IT-проектов.</strong><br>
Статья на WikiClick даст другим людям узнать о Вашей работе, кроме этого вы получите <a href="https://ru.wikipedia.org/wiki/Обратная_ссылка" target="_blank">бэклинки</a>, что со временем продвинет Вас выше в поисковых системах.<br>
Это свободная площадка, и если Вы не могли попасть на крупные wiki-проекты из-за монополии на контент, то теперь Вы можете рассказать о своей разработке здесь.<br>
<strong style="background:#fba2fb;font-size:20px;margin: 16px 0;display: inline-block;">Open Source Wiki Engine</strong><br>
<strong>WikiClick</strong> - это еще <strong>компактный wiki-движок основанный на html</strong> с открытым исходным кодом. <a href="https://github.com/4eckme/WikiClick" target="blank">GitHub проекта</a>.<br>
Движок сохраняет предыдущие версии статей, позволяет делать выборку по разделам и тегам, ведет журнал версий и журнал комментариев, снабжен капчей, а также сам генерирует оглавление для статей со ссылками.<br><br>
</article>
<div class="w1000">
<div class="journal j-comments"><h2>Журнал изменений</h2>
%%JP%%
</div>
<div class="journal"><h2>Последние комментарии</h2>
%%JC%%
</div>
<div style="clear:both;"></div>
</div>
<hr>
<div class="block-comments">
<h3>Комментарии (%%comcnt%%)</h3>
<div class="comments">
%%comments%%
</div>
<input type="button" class="button btn-show-comments" value="Показать комментарии" onclick="comments_json()">
</div>
</div>
</body></html>
