<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" href="/main.css">
<script src="/jquery.js"></script>
<script src="/main.js"></script>
</head><body>
<div class="top"><div class="actions"><a href="edit/">Редактировать</a><a href="/new/">Создать страницу</a></div><h2 class="logo"><a href="/">WikiClick</a></h2></div>
<div class="leftbar"><center class="logo2">
<img src="/logo.png" style="
    margin-top: 64px;
">
</center>
<div class="links">
%%links%%
</div>
</div>
<div class="colorbar">%%short%%</div>
<div class="page">
<div class="cords"></div>
<article id="article">%%article%%</article>
<div class="tags">%%tags%%</div>

<div class="block-version"><h3><a class="ochoba" href="./">перейти к основной</a><span style="color:#888;">Версия от</span> %%version%%</h3></div>

<div class="block-comments">
<h3>Комментарии (%%comcnt%%)</h3>
<div class="comments">
%%comments%%
</div>
<input type="button" class="button btn-show-comments" value="Показать комментарии" onclick="comments_json()">
</div>
</div>
</body></html>
