<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/favicon.png" type="image/png">
<title>%%sitename%%: %%title%% / Версия от %%version%%</title>
<meta name="description" content="%%short%%">
<meta name="keywords" content="wiki,%%tagstring%%"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" href="/main.css">
<script src="/jquery.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/main.js"></script>
</head><body>
<div class="top"><div class="actions"><a href="редактировать/">Редактировать</a><a href="/создать/">Создать страницу</a></div><h2 class="logo"><a href="/">%%sitename%%</a></h2></div>
<div class="leftbar"><center class="logo2">
<img src="/logo.png" style="
    margin-top: 64px;
">
</center>
<div class="links">
%%links%%
</div>
</div>
<div class="colorbar">%%short%%</div>
<div class="page">
<div class="cords"></div>
<article id="article">%%article%%</article>
<div class="tags">%%tags%%</div>

<div class="block-version"><h3>%%rmlink%%<a class="ochoba" href="./">перейти к основной</a><span style="color:#888;">Версия от</span> <span %%adminfo%%>%%version%%</span></h3></div>

<div class="block-comments">
<h3>Комментарии (%%comcnt%%)</h3>
<div class="comments"></div>
<input type="button" class="button btn-show-comments" value="Показать комментарии" onclick="window.location.hash='#/комментарии'">
</div>
</div>
</body></html>
